body {
    height: 100vh;
    font-family: 'Fraunces', serif;
    font-size: 15px;
}

.main {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto auto;
    justify-content: space-between;
    height: 80%;
    gap: 40px;
}

.container-1 {
    display: flex;
    justify-content: space-between;
    gap: 90px;
}

.container-2 {
    display: flex;
    position: relative;
    justify-content: space-around;
    gap: 30px;
    height: 100%;

}


.box-1 {
    flex: 1;
}


.box-2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
}


.rates {
    font-family: 'League Spartan', sans-serif;
    display: flex;
    border-radius: 5px;
    font-weight: 700;
    background-color: hsl(300, 24%, 96%);
    align-items: center;
    justify-content: space-around;
    width: 80%;
    color: hsl(300, 43%, 22%);
    /* padding-left: 15px;
    padding-right: 15px; */
}

.rate-1 {
    align-self: start;
}

.rate-2 {
    align-self: center;
}

.rate-3 {
    align-self: end;

}

.box-1 h1 {
    color: hsl(300, 43%, 22%);
    font-size: 50px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
}

.box-1 p {
    font-family: 'League Spartan', sans-serif;
    color: hsl(303, 10%, 53%);
    font-size: 16px;
    font-weight: 500;
}


/* bottom */

/* coltont */



.colton {
    display: flex;
    gap: 20px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.card-1 {
    flex: 1;
    background-color: hsl(300, 43%, 22%);
    padding: 25px;
    max-width: 300px;
    border-radius: 10px;
    max-height: 150px;

}

.name-colton {
    line-height: 5px;
    align-items: center;
}

.name-colton h1 {
    font-family: 'League Spartan', sans-serif;
    color: white;
    font-size: medium;
    font-weight: 500;
}

.name-colton h2 {
    font-family: 'League Spartan', sans-serif;
    color: hsl(333, 80%, 67%);
    font-size: medium;
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
}

.colton-info p {
    color: white;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    line-height: 15px;
}

/* end colton  */




/* IRENE  */
.irene {
    display: flex;
    gap: 20px;


}

.card-2 {

    flex: 1;
    background-color: hsl(300, 43%, 22%);
    padding: 25px;
    max-width: 300px;
    border-radius: 10px;
    max-height: 150px;
    margin-top: 15px;
}

.name-irene {
    line-height: 5px;
    align-items: center;
}

.name-irene h1 {
    font-family: 'League Spartan', sans-serif;
    color: white;
    font-size: medium;
    font-weight: 500;
}

.name-irene h2 {
    font-family: 'League Spartan', sans-serif;
    color: hsl(333, 80%, 67%);
    font-size: medium;
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
}

.irene-info p {
    color: white;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    word-spacing: 0.1em;
    line-height: 15px;
}

/* end irene  */




/* ANNE  */
.anne {
    display: flex;
    gap: 20px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;


}

.card-3 {
    flex: 1;
    background-color: hsl(300, 43%, 22%);
    padding: 25px;
    max-width: 300px;
    border-radius: 10px;
    max-height: 150px;
    margin-top: 30px;

}

.name-anne {
    line-height: 5px;
}


.name-anne h1 {
    font-family: 'League Spartan', sans-serif;
    color: white;
    font-size: medium;
    font-weight: 500;
}

.name-anne h2 {
    font-family: 'League Spartan', sans-serif;
    color: hsl(333, 80%, 67%);
    font-size: medium;
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
}

.anne-info p {
    color: white;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    word-spacing: 0.1em;
    line-height: 15px;
}







.container-2 img {
    width: 40px;
    height: 40px;
    border-radius: 50%;

}