body{
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 40px;
    margin-bottom: 40px;


}

.container-1{
    display: flex;
    justify-content: space-between;
    margin: o auto 80% auto;
}

.box-1{
    flex: 1;
}

.rates {
    flex: 1;
}

.box-1 h1{
    color:  hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 50px;
    font-family: 'Fraunces', serif;

}

.box-1 p{
    color: hsl(303, 10%, 53%);
    line-height: 33px;
    font-family: 'Fraunces', serif;

}

.rate-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(0, 4, 255);
    align-items: center;
    padding: 10px 5px;


}

